form {
  display: flex;
  flex-direction: column;
}

form .login-input {
  position: relative;
  height: 60px;
  overflow: hidden;
  margin: 10px 0 30px;
}

form .login-input input {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-left: 20px;
  color: #0c151d;
  border: none;
  outline: none;
  background-color: #f9fafb;
}

form .login-input input:focus + label span,
form .login-input input:valid + label span {
  transform: translateY(-70%);
  font-size: 0.7rem;
  color: #042b9f;
}

form .login-input input:focus + label::after,
form .login-input input:valid + label::after {
  transform: translateX(0%);
}

form .login-input label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

form .login-input label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  bottom: -1px;
  border-bottom: 2px solid #125fca;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

form .login-input label span {
  position: absolute;
  bottom: 30%;
  left: 20px;
  transition: transform 0.3s ease;
}

form .reCAPTCHA {
  color: #5e6b77;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.375em;
  letter-spacing: 0;
  margin-bottom: 30px;
}

form .reCAPTCHA a {
  color: #0d4696;
  text-decoration: none;
  cursor: pointer;
  margin-left: 0;
}

form .email-login-btn {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.3;
  white-space: normal;
  letter-spacing: 1px;
  height: 60px;
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
}

form .email-login-btn-active {
  color: #fff;
  background: #125fca;
  cursor: pointer;
}

form .forgot-password {
  display: flex;
  justify-content: center;
  color: #0d4696;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  line-height: 21px;
  margin: 20px 0 0 0;
}
