.navbar-container {
  z-index: 3;
  background-color: transparent;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbar-container {
    height: 72px;
  }
}

.navbar-container a {
  margin-left: 45px;
}

@media screen and (max-width: 960px) {
  .navbar-container a {
    margin-left: 15px;
  }
}

.navbar-container a svg {
  filter: drop-shadow(rgba(23, 32, 38, 0.2) 0px 2px 4px);
}

.navbar-container .menu {
  display: flex;
  align-items: center;
}

.navbar-container .menu .needHelp {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: row;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.3;
  white-space: normal;
  cursor: pointer;
}

.navbar-container .menu .needHelp svg {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 960px) {
  .navbar-container .menu .needHelp svg {
    height: 35px;
    width: 35px;
    margin-right: 16px;
  }
}

.navbar-container .menu .needHelp .text {
  padding-left: 10px;
  color: #fff;
  height: 25px;
  width: 110px;
  font-size: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.navbar-container .menu .country {
  height: 25px;
  width: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.navbar-container .menu .country svg {
  border: 2px solid white;
  border-radius: 20px;
}

.navbar-container .menu .divider {
  align-self: normal;
  padding-right: 8px;
  border-left: 1px solid #f1f2f4;
  color: #fff;
  opacity: 0.3;
}

.navbar-container .menu .login {
  background-color: transparent;
  border: none;
  display: flex;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.3;
  white-space: normal;
  cursor: pointer;
  align-items: center;
}

.navbar-container .menu .login img {
  background-size: cover;
  border: 1px solid #f1f2f4;
  background: white none repeat scroll 0% 0%;
  border-radius: 50%;
  box-shadow: rgba(23, 32, 38, 0.07) 0px 1px 1px 0px, rgba(23, 32, 38, 0.06) 0px 2px 1px -1px, rgba(23, 32, 38, 0.1) 0px 1px 3px 0px;
  padding: 2px;
  position: relative;
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 960px) {
  .navbar-container .menu .login img {
    margin-right: 20px;
  }
}

.navbar-container .menu .login .text {
  text-shadow: 0px 2px 4px rgba(23, 32, 38, 0.2);
  white-space: nowrap;
  color: #fff;
  margin: 0 25px 0 10px;
  font-size: 15px;
  text-transform: uppercase;
}
