.nowserving-container {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: auto;

  .nowserving-wrapper {
    max-width: 920px;
    margin: 0px auto;
    padding-bottom: 32px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 960px) {
      padding-bottom: 0;
    }

    h4 {
      max-width: 100%;
      color: rgb(12, 21, 29);
      font-size: 32px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0.5px;
      margin: 0;
    }

    .desktop-screen {
      margin: 36px 0px;
      flex: 1 1 0%;
      display: flex;
      width: 100%;
      padding: 0;

      svg {
        fill: rgb(243, 109, 0);

        g {
          cursor: pointer;
        }
      }
    }

    .mobile-screen {
      div {
        width: 100vw;
        box-shadow: rgb(241, 242, 244) 0px 1px 0px 0px inset;
        cursor: pointer;

        p {
          padding: 18px 16px;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.00938em;
          margin: 0;
          color: rgb(12, 21, 29);
        }
      }
    }
  }
}
