.nowserving-container {
  background-color: #fff;
  position: relative;
  width: 100%;
  height: auto;
}

.nowserving-container .nowserving-wrapper {
  max-width: 920px;
  margin: 0px auto;
  padding-bottom: 32px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .nowserving-container .nowserving-wrapper {
    padding-bottom: 0;
  }
}

.nowserving-container .nowserving-wrapper h4 {
  max-width: 100%;
  color: #0c151d;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 0.5px;
  margin: 0;
}

.nowserving-container .nowserving-wrapper .desktop-screen {
  margin: 36px 0px;
  flex: 1 1 0%;
  display: flex;
  width: 100%;
  padding: 0;
}

.nowserving-container .nowserving-wrapper .desktop-screen svg {
  fill: #f36d00;
}

.nowserving-container .nowserving-wrapper .desktop-screen svg g {
  cursor: pointer;
}

.nowserving-container .nowserving-wrapper .mobile-screen div {
  width: 100vw;
  box-shadow: #f1f2f4 0px 1px 0px 0px inset;
  cursor: pointer;
}

.nowserving-container .nowserving-wrapper .mobile-screen div p {
  padding: 18px 16px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.00938em;
  margin: 0;
  color: #0c151d;
}
