.sidebar-background {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7) !important;
  position: fixed;
  display: flex;
  justify-content: flex-end;

  .sidebar-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 76px;
    grid-auto-rows: 61px;
    width: 300px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 0px 4px 0px;
    background-color: #fff;
    align-items: center;
    animation: sidebar-load 0.3s ease;

    @keyframes sidebar-load {
      from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(0%);
      }
    }

    h2 {
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: 0;
      border-bottom: 1px solid #f1f2f4;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }

    div {
      display: flex;
      padding-left: 16px;
      border-bottom: 1px solid #f1f2f4;
      cursor: pointer;
      align-items: center;
      height: 100%;

      &:hover {
        background-color: rgb(240, 240, 240);
      }

      svg {
        width: 24px;
        height: 24px;
      }

      span {
        display: flex;
        align-items: center;
        padding-left: 30px;
      }
    }
  }
}
