.skipRewards-container {
  overflow: hidden;
  position: relative;

  .skipRewards-wrapper {
    background-color: rgb(255, 234, 212);
    display: grid;
    grid-template-columns: 55vw auto;
    grid-template-areas: 'col1 col2';

    @media screen and (max-width: 960px) {
      grid-template-areas: 'col2' 'col1';
      grid-template-columns: auto;
    }

    .photo {
      grid-area: col1;
      // max-width: 1010px;
      height: 540px;
      z-index: 0;
      left: 0;
      top: 0;
      bottom: 0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: unset;
      clip-path: polygon(0 0, 100% 0, 78% 100%, 0% 100%);

      @media screen and (max-width: 960px) {
        clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
        width: auto;
        max-width: 960px;
        background-position: center;
        height: 245px;
      }
    }

    .text {
      grid-area: col2;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media screen and (max-width: 960px) {
        padding: 0 34px;
      }

      div {
        max-width: 468px;
        display: flex;
        flex-direction: column;
        // align-items: center;

        .rewards-title {
          margin: 0px 0px 20px;
          height: 30px;
          z-index: 2;
          align-items: start;

          @media screen and (max-width: 960px) {
            align-items: center;
            margin-top: 52px;
          }

          svg {
            fill: rgb(255, 128, 0);
          }
        }

        .rewards-text {
          z-index: 2;
          margin-bottom: 32px;

          span {
            max-width: 100%;
            padding: 0px;
            text-align: left;
            font-size: 16px;
            font-weight: 500;
            margin-top: 0px;
            margin-bottom: 10px;
            transition: none;
            line-height: 21px;
            letter-spacing: 0;

            @media screen and (max-width: 960px) {
              text-align: center;
            }
          }
        }

        .learn-more {
          z-index: 2;
          width: 167.11px;

          :hover {
            background-color: rgb(170, 76, 0);
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
              border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
          }

          @media screen and (max-width: 960px) {
            margin: 0 auto 40px auto;
          }

          a {
            height: 60px;
            border-radius: 4px;
            text-align: center;
            font-weight: 600;
            line-height: 1.3;
            white-space: normal;
            letter-spacing: 1px;
            font-size: 0.9375rem;
            color: rgba(255, 255, 255, 1);
            background-color: #f36d00;
            box-shadow: none;
            min-width: 64px;
            box-sizing: border-box;
            text-transform: uppercase;
            border: 0;
            cursor: pointer;
            margin: 0;
            display: inline-flex;
            outline: 0;
            position: relative;
            align-items: center;
            vertical-align: middle;
            justify-content: center;
            text-decoration: none;

            span {
              font-size: 0.9375rem;
              color: rgba(255, 255, 255, 1);
              text-transform: uppercase;
              cursor: pointer;
              pointer-events: auto;
            }
          }
        }
      }
    }
  }
}
